<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election</title>
  </head>
  <body>
    <form action="/" method="GET">
      <label for="polling_u">Select Polling Unit to Display:</label>
      <select name="polling_u" id="polling_u">
        {% for polling in polling_u %}
        <option value={{ polling['polling_unit_id'] }} >{{ polling['polling_unit_name'] }}</option>
        {% endfor %}
      </select>
      <button type="submit">Filter</button>
    </form>
    <table id="example" class="table table-striped" style="width: 100%">
      <thead>
        <tr>
          {% for heading in data[0].keys() %}
          <th>{{ heading.replace("_", " ").title() }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          {% for value in row.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Age</th>
          <th>Start date</th>
          <th>Salary</th>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
